# JAC Manager API Environment Variables
JAC_MANAGER_API_DATASOURCE_USERNAME=nombre_usuario
JAC_MANAGER_API_DATASOURCE_PASSWORD=contraseña_usuario
JAC_MANAGER_API_DATASOURCE_DB=jac_manager_db
JAC_MANAGER_API_DATASOURCE_URL=jdbc:postgresql://localhost:5432/jac_manager_db
JAC_MANAGER_API_JPA_DDL=validate
JAC_MANAGER_API_JPA_SHOW_SQL=false

SWAGGER_UI_DOCUMENTATION_ENABLED=true